@import './variable',
        './card',
        './nav';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

* {
    font-family: "Open Sans", Helvetica, sans-serif;
    box-sizing: border-box;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    max-width: 100%;
    margin: 0 auto;

    @include sm {
        max-width: $container-sm-max-widths;
    }

    @include md {
        max-width: $container-md-max-widths;
    }

    @include lg {
        max-width: $container-lg-max-widths;
    }

    @include xl {
        max-width: $container-xl-max-widths;
    }
}

.btn {
    display: block;
    width: 120px;
    padding: 6px 0;
    margin: 10px 0 10px 0;
    background: none;
    border: 1px solid $brown;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    color: $brown;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

    &:hover {
        background: $brown;
        color: #fff;
    }
}

.text-center {
    text-align: center;
}
