$brown: #786450;

.card {
    display: inline-block;
    margin: 5px 10px;
    padding: 0 5px;
    border: 3px solid $brown;
    border-radius: 5px;

    .profile {
        float: left;
        width: 200px;
        height: 320px;
        text-align: center;
        padding-bottom: 35px;
        position: relative;

        .image {
            position: relative;
            width: 70px;
            height: 70px;
            margin: 38px auto 0 auto;

            .circle-1 {
                position: absolute;
                box-sizing: border-box;
                width: 76px;
                height: 76px;
                top: -3px;
                left: -3px;
                border-width: 1px;
                border-style: solid;
                border-color: $brown $brown $brown transparent;
                border-radius: 50%;
                transition: all 1.5s ease-in-out;
            }

            .circle-2 {
                @extend .circle-1;
                width: 82px;
                height: 82px;
                top: -6px;
                left: -6px;
                border-color: $brown transparent $brown $brown;
            }

            img {
                display: block;
                border-radius: 50%;
                background: #F5E8DF;
            }

            &:hover {
                cursor: pointer;

                .circle-1 {
                    transform: rotate(360deg);
                }

                .circle-2 {
                    transform: rotate(-360deg);
                }

            }

        }

        .name {
            font-size: 16px;
            font-weight: 600;
            margin-top: 20px;
        }

        .fname,
        .lname {
            font-size: 12px;
        }

        .job {
            font-size: 11px;
            line-height: 15px;
        }

        .actions {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;

            .btn {
                margin: 0 auto 10px auto;
            }
        }
    }
}

.card.edit,
.card.create {
    padding: 15px 30px;

    .form-group {
        label {
            width: 100%;
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 12px;
        }

        input {
            width: 100%;
            margin-bottom: 10px;
            padding: 5px;
        }
    }
}
