@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
.card {
  display: inline-block;
  margin: 5px 10px;
  padding: 0 5px;
  border: 3px solid #786450;
  border-radius: 5px;
}
.card .profile {
  float: left;
  width: 200px;
  height: 320px;
  text-align: center;
  padding-bottom: 35px;
  position: relative;
}
.card .profile .image {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 38px auto 0 auto;
}
.card .profile .image .circle-1, .card .profile .image .circle-2 {
  position: absolute;
  box-sizing: border-box;
  width: 76px;
  height: 76px;
  top: -3px;
  left: -3px;
  border-width: 1px;
  border-style: solid;
  border-color: #786450 #786450 #786450 transparent;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
}
.card .profile .image .circle-2 {
  width: 82px;
  height: 82px;
  top: -6px;
  left: -6px;
  border-color: #786450 transparent #786450 #786450;
}
.card .profile .image img {
  display: block;
  border-radius: 50%;
  background: #F5E8DF;
}
.card .profile .image:hover {
  cursor: pointer;
}
.card .profile .image:hover .circle-1, .card .profile .image:hover .circle-2 {
  transform: rotate(360deg);
}
.card .profile .image:hover .circle-2 {
  transform: rotate(-360deg);
}
.card .profile .name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
.card .profile .fname,
.card .profile .lname {
  font-size: 12px;
}
.card .profile .job {
  font-size: 11px;
  line-height: 15px;
}
.card .profile .actions {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.card .profile .actions .btn {
  margin: 0 auto 10px auto;
}

.card.edit,
.card.create {
  padding: 15px 30px;
}
.card.edit .form-group label,
.card.create .form-group label {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
}
.card.edit .form-group input,
.card.create .form-group input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.navbar .navbar-list .nav-item {
  color: #786450;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}

* {
  font-family: "Open Sans", Helvetica, sans-serif;
  box-sizing: border-box;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1220px) {
  .container {
    max-width: 1180px;
  }
}

.btn {
  display: block;
  width: 120px;
  padding: 6px 0;
  margin: 10px 0 10px 0;
  background: none;
  border: 1px solid #786450;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: #786450;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
.btn:hover {
  background: #786450;
  color: #fff;
}

.text-center {
  text-align: center;
}
