<template>
    <div class="card create">
        <h3 class="text-center">Create User</h3>
        <form @submit.prevent="addUser">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" v-model="user.first_name">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" v-model="user.last_name">
            </div>
             <div class="actions">
                 <button type="submit" class="btn">Create</button>
                 <router-link :to="{ name: 'home' }" class="btn">Cancel
                 </router-link>
             </div>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user: {}
        }
    },
    methods: {
        async addUser() {
            // combine first and last name to be add as full name
            this.user = {
                ...this.user,
                name: `${this.user.first_name} ${this.user.last_name}`
            }

            await this.axios
                .post('https://easybell-task.ddev.site/api/user', this.user)
                .then(response => (
                    this.$router.push({ name: 'home' })
                ))
                .catch(err => console.log(err));
        }
    }
}
</script>
