<template>
    <div class="card edit">
        <h3 class="text-center">Edit User</h3>
        <form @submit.prevent="updateUser">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" v-model="user.first_name">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" v-model="user.last_name">
            </div>
            <div class="actions">
                <button type="submit" class="btn">Update</button>
                <router-link :to="{ name: 'home' }" class="btn">Cancel
                </router-link>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user: {}
        }
    },
    async created() {
        await this.axios
            .get(`https://easybell-task.ddev.site/api/user/${this.$route.params.id}`)
            .then((res) => {
                this.user = res.data;
            });
    },
    methods: {
        async updateUser() {
            // combine first and last name to be add as full name
            this.user = {
                ...this.user,
                name: `${this.user.first_name} ${this.user.last_name}`
            }

            await this.axios
                .patch(`https://easybell-task.ddev.site/api/user/${this.$route.params.id}`, this.user)
                .then((res) => {
                    this.$router.push({ name: 'home' });
                }).catch(err => console.log(err));
        }
    }
}
</script>
