<template>
    <div>
        <h2 class="text-center">users List</h2>
        <div class="cards">
            <div class="card" v-for="user in users" :key="user.id">
                <div class="profile">
                    <div class="image">
                        <div class="circle-1"></div>
                        <div class="circle-2"></div>
                        <img src="https://picsum.photos/100/100?grayscale" width="70" height="70" alt="Jessica Potter">
                    </div>
                    <p class="name">{{ user.name }}</p>
                    <p class="fname">First Name: {{ user.first_name }}</p>
                    <p class="lname">Last Name: {{ user.last_name }}</p>

                    <div class="actions">
                        <router-link :to="{ name: 'edit', params: { id: user.id } }" class="btn">Edit
                        </router-link>
                        <button class="btn" @click="deleteUser(user.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            users: []
        }
    },
    async created() {
        await this.axios
            .get('https://easybell-task.ddev.site/api/overview/')
            .then(response => {
                this.users = response.data.data;
            });
    },
    methods: {
        async deleteUser(id) {
            if (confirm("Do you really want to delete?")) {
                await this.axios
                    .delete(`https://easybell-task.ddev.site/api/user/${id}`)
                    .then(response => {
                        let i = this.users.map(data => data.id).indexOf(id);
                        this.users.splice(i, 1)
                    });
            }
        }
    }
}
</script>

