<template>
    <div class="container">
        <nav class="navbar">
            <div class="navbar-list">
                <router-link to="/" class="nav-item nav-link">Overview Users</router-link>
                <router-link to="/create" class="nav-item nav-link">Create User</router-link>
            </div>
        </nav>
        <router-view> </router-view>
    </div>
</template>

<script>
export default {
    data() {
        return {
            currentPath: window.location.hash
        }
    },
    computed: {
        currentView() {
            return routes[this.currentPath.slice(1) || '/'] || NotFound
        }
    },
    mounted() {
        window.addEventListener('hashchange', () => {
            this.currentPath = window.location.hash
        })
    }
}
</script>
